#admin-widget {

    .tab-pane {

        &#tab-config{
            min-height: 600px;
        }
    }

    #config-editor {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 550px;
        height: 100%;
    }

}
