
/* Padding */
.with-padding			{ padding: 20px !important; }
.with-mid-padding		{ padding: 10px !important; }
.with-small-padding		{ padding: 5px !important; }
.no-padding				{ padding: 0 !important; }
.no-padding-top				{ padding-top: 0 !important; }
.no-padding-bottom				{ padding-bottom: 0 !important; }
.no-padding-left				{ padding-left: 0 !important; }
.no-padding-right				{ padding-right: 0 !important; }

/* Margins */
.large-margin-top		{ margin-top: 30px !important; }
.margin-top				{ margin-top: 16px !important; }
.mid-margin-top			{ margin-top: 8px !important; }
.small-margin-top		{ margin-top: 4px !important; }
.no-margin-top			{ margin-top: 0 !important; }
.large-margin-right		{ margin-right: 30px !important; }
.margin-right			{ margin-right: 16px !important; }
.mid-margin-right		{ margin-right: 8px !important; }
.small-margin-right		{ margin-right: 4px !important; }
.no-margin-right		{ margin-right: 0 !important; }
.large-margin-left		{ margin-left: 30px !important; }
.margin-left			{ margin-left: 16px !important; }
.mid-margin-left		{ margin-left: 8px !important; }
.small-margin-left		{ margin-left: 4px !important; }
.no-margin-left			{ margin-left: 0 !important; }
.large-margin-bottom	{ margin-bottom: 30px !important; }
.margin-bottom			{ margin-bottom: 16px !important; }
.mid-margin-bottom		{ margin-bottom: 8px !important; }
.small-margin-bottom	{ margin-bottom: 4px !important; }
.no-margin-bottom		{ margin-bottom: 0 !important; }

/* Absolute positioning */
.relative				{ position: relative; }
.absolute-left,
.absolute-right {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
.absolute-left {
    left: 0;
}
.absolute-right {
    right: 0;
}

/* This class disables mouse events on compatible browsers, a polyfill is provded in setup.js for others */
.no-pointer-events		{ pointer-events: none; }

/* IE7 vertically aligned images fix */
.vert-align {
    display: inline;
    width: 0;
    margin-right: -4px;
}