@import "variables";
@import "mixins";
@import "widgets/github-profile";
@import "widgets/github-events";
@import "custom/pygments";


.blog-post-content {
    img {
        @include img-responsive();
    }
}

.page-logo .logo-default {
    width: 100px;
}


.repo-table {
    font-size: 12px;

    .repo-table-name {
        font-size: 15px;

    }

    .repo-table-desc {
        font-size: 11px ;
        text-align: left !important;
    }

    .repo-table-name,
    .repo-table-desc {
        padding-right: 30px;
    }

    thead tr th {
        min-width: 20px;
        font-weight: bold;
        text-align: left;
    }

    tbody tr,
    thead tr{
        border-bottom: 1px solid #666;
    }

    tbody td {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .repo-table-lang {
        padding: 0 10px;
    }

    .repo-table-border-right {
        border-right: 1px solid rgba(119, 119, 119, 0.2);
        text-align: center;
    }
}

