<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-doc font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">{{ include.title }}</span>
            {% if include.subtitle %}<span class="caption-helper">{{ include.subtitle }}</span>{% endif %}
        </div>
        <div class="actions">
            <a href="{{ BASEURL }}/posts" class="btn btn-circle red-sunglo btn-sm"><i class="fa fa-plus"></i> View all posts </a>
        </div>
    </div>
    <div class="portlet-body">

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th width="200">Post</th>
                    <th>Description</th>
                    {% if include.date %}
                    <th>Date</th>
                    {% endif %}
                    {% if include.tags %}
                    <th width="150">Tags</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for post in site.posts limit:3 %}
                <tr>
                    <td>
                        <a href="{{ site.url }}{{ post.url }}"> {{ post.title }} </a>
                    </td>
                    <td>
                        <small>{{ post.description }}</small>
                    </td>
                    {% if include.date %}
                    <td>
                        {{ post.date | date: "%a, %-d %B" }}
                    </td>
                    {% endif %}
                    {% if include.tags %}
                    <td>
                        <div class="blog-img blog-tag-data">
                            <ul class="list-inline blog-tags">
                                {% for tag in post.tags %}
                                <li>
                                    <i class="fa fa-tags"></i>
                                    <a href="javascript:;">{{ tag }}</a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
