{% for widget in page.widgets %}

    {% if site.data.widgets contains widget.name %}

    {% assign widget_data = site.data.widgets[widget.name] %}

        {% if widget_data contains 'tpl' %}
            {% capture tmp_path %}widgets/{{ site.data.widgets[widget.name].tpl }}{% endcapture %}
            {% include {{tmp_path}} %}
        {% endif %}

        {% if widget_data contains 'js' %}
            <script src="{{ ASSETDIR}}/widgets/{{ widget_data.js }}"></script>
        {% endif %}


        <script>
            $(function(){
                $('{{ widget.selector }}').{{ widget_data.func }}({
                    {% if widget contains 'config' %}
                        {% for config in widget.config %}
                            "{{ config[0] }}": "{{ config[1] }}"
                        {% endfor %}
                    {% endif %}
                });
            });
        </script>
        <br>


    {% endif %}

{% endfor %}