{% for widget in page.widgets %}

    {% if site.data.widgets contains widget.name %}

    {% assign widget_data = site.data.widgets[widget.name] %}

        {% if widget_data contains 'tpl' %}
            {% capture tmp_path %}widgets/{{ site.data.widgets[widget.name].tpl }}{% endcapture %}
            {% include {{tmp_path}} %}
        {% endif %}

        {% if widget_data contains 'js' %}
            <script src="{{ ASSETDIR}}/widgets/{{ widget_data.js }}"></script>
        {% endif %}


        <script>
            $(function(){
                var config = '{{ widget.config | json }}'.replace(/=>/g,':');
               // console.log(config);
                $('{{ widget.selector }}').{{ widget_data.func }}(JSON.parse(config));
            });
        </script>

    {% endif %}

{% endfor %}


<script src="{{ ASSETDIR}}/widgets/posts-search.js"></script>
{% include widgets/posts-search.html %}
<script>
    $(function(){
        $('#posts-search-form').postSearch({
            baseurl: '{{ site.url }}'
        });
    });
</script>



<script src="{{ ASSETDIR}}/widgets/page-top-user.js"></script>
{% include widgets/page-top-user.html %}
<script>
    $(function(){
        $('#page-top-menu').pageTopUser({
            username: '{{ site.username }}'
        });
    });
</script>

