---
layout: page
page-css: [news,blog]
title: Post overview
subtitle: An overview of all my posts
permalink: posts/
widgets:
  - name: posts-filter
    selector: "#posts-by-tag"
    config:
      tableSelector: '.posts-by-tag-table'
      tagSelector: '.posts-by-tag-picker'
      categorySelector: '.posts-by-category-picker'
      viewAllSelector: '.posts-view-all'
---
{% include vars %}
<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-pin font-yellow-lemon"></i>
											<span class="caption-subject bold font-yellow-lemon uppercase">
											Tabs </span>
            <span class="caption-helper">more samples...</span>
        </div>
        <div class="actions pull-left margin-left">
            <a href="/posts" class="btn btn-circle red-sunglo btn-sm"><i class="fa fa-plus"></i> Write new post </a>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#portlet_tab3" data-toggle="tab" aria-expanded="true">
                    Tab 3 </a>
            </li>
            <li class="">
                <a href="#portlet_tab2" data-toggle="tab" aria-expanded="false">
                    Tab 2 </a>
            </li>
            <li class="">
                <a href="#portlet_tab1" data-toggle="tab" aria-expanded="false">
                    Tab 1 </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane" id="portlet_tab1">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-initialized="1">
                    <h4>Tab 1 Content</h4>
                    <p>
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.ut laoreet dolore magna ut laoreet dolore magna. ut laoreet dolore magna. ut laoreet dolore magna.
                    </p>
                    <p>
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.ut laoreet dolore magna ut laoreet dolore magna. ut laoreet dolore magna. ut laoreet dolore magna.
                    </p>
                </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 115.606936416185px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div></div>
            </div>
            <div class="tab-pane" id="portlet_tab2">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-initialized="1">
                    <h4>Tab 2 Content</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                    </p>
                    <p>
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.ut laoreet dolore magna ut laoreet dolore magna. ut laoreet dolore magna. ut laoreet dolore magna.
                    </p>
                </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div></div>
            </div>
            <div class="tab-pane active" id="portlet_tab3">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-initialized="1">
                    <h4>Tab 3 Content</h4>
                    <p>
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.ut laoreet dolore magna ut laoreet dolore magna. ut laoreet dolore magna. ut laoreet dolore magna.
                    </p>
                    <p>
                        Ut wisi enim ad btn-smm veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </p>
                </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 121.951219512195px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div></div>
            </div>
        </div>
    </div>
</div>
<div class="portlet light">

        <div class="portlet-title">
            <div class="actions">
                <a href="/posts" class="btn btn-circle red-sunglo btn-sm"><i class="fa fa-plus"></i> Write new post </a>
            </div>
        </div>
    <div class="portlet-body">
        <div class="tabbable-custom ">
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#posts-overview" data-toggle="tab"> All posts </a> </li>
                <li><a href="#posts-by-tag" data-toggle="tab"> Filter by tag/category </a> </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="posts-overview">

                    <div class="row">
                        <div class="col-md-12 blog-page">
                            <div class="row">
                                <div class="col-md-12 article-block">
                                    {% for post in site.posts %}
                                    <div class="row">
                                        <div class="col-md-4 blog-img blog-tag-data">
                                            <img src="{{ IMGDIR }}/{{ post.image }}" alt="" class="img-responsive">
                                            <ul class="list-inline">
                                                <li>
                                                    <i class="fa fa-calendar"></i>
                                                    <a href="#">
                                                        {{ post.date | date: "%a, %-d %B" }} </a>
                                                </li>
                                                <!----<li>
                                                    <i class="fa fa-comments"></i>
                                                    <a href="#">
                                                        38 Comments </a>
                                                </li>-->
                                            </ul>
                                            <ul class="list-inline blog-tags">
                                                <li>
                                                    <i class="fa fa-tags"></i>
                                                    {% for tag in post.tags %}
                                                    <a href="#">{{ tag }}</a>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 blog-article">
                                            <h3>
                                                <a href="{{ post.url }}"> {{ post.title }} </a>
                                            </h3>
                                            <p>
                                                {{ post.description }}
                                            </p>
                                            <a class="btn blue" href="{{ post.url }}">
                                                Read more <i class="m-icon-swapright m-icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                    {% endfor %}

                                </div>

                            </div>
                            <ul class="pagination pull-right">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        1 </a>
                                </li>
                                <li>
                                    <a href="#">
                                        2 </a>
                                </li>
                                <li>
                                    <a href="#">
                                        3 </a>
                                </li>
                                <li>
                                    <a href="#">
                                        4 </a>
                                </li>
                                <li>
                                    <a href="#">
                                        5 </a>
                                </li>
                                <li>
                                    <a href="#">
                                        6 </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="posts-by-tag">
                    <button type="button" class="btn btn-xs blue-hoki pull-right posts-view-all"><i class="fa fa-reorder"></i> View all</button>

                    <div class="blog-img blog-tag-data">
                        <ul class="list-inline blog-tags">
                            <li>
                                <span class="label label-primary"> Pick the desired tag </span>
                            </li>
                            {% for tag in site.tags %}
                            <li>
                                <i class="fa fa-tags"></i>
                                <a href="#" class="posts-by-tag-picker" data-tags="{{ tag[0] }}">{{ tag[0] }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="blog-img blog-tag-data">
                        <ul class="list-inline blog-tags">
                            <li>
                                <span class="label label-primary"> Pick the desired category </span>
                            </li>
                            {% for cat in site.categories %}
                            <li>
                                <i class="fa fa-tags"></i>
                                <a href="#" class="posts-by-category-picker" data-category="{{ cat[0] }}">{{ cat[0] | capitalize }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover posts-by-tag-table">
                            <thead>
                            <tr>
                                <th width="200">Post</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th width="150">Tags</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for post in site.posts %}
                            {% capture tagdata %}{% for tag in post.tags %}{{ tag }},{% endfor %}{% endcapture %}
                            <tr data-tags="{{ tagdata }}" data-category="{{ post.category }}">
                                <td>
                                    <a href="{{ post.url }}"> {{ post.title }} </a><br> <small><strong>Category:</strong> {{ post.category }}</small>
                                </td>
                                <td>
                                    <small> {{ post.description }}</small>
                                </td>
                                <td>
                                    {{ post.date | date: "%D" }}
                                </td>
                                <td>
                                    <div class="blog-img blog-tag-data">
                                        <ul class="list-inline blog-tags">
                                            {% for tag in post.tags %}
                                            <li>
                                                <i class="fa fa-tags"></i>
                                                <a href="#" class="posts-by-tag-picker" data-tag="{{ tag }}">{{ tag }}</a>
                                            </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>



        </div>
    </div>

</div>