{% include layout/top.html %}
<head>
    {% include layout/head.html %}

</head>
<body class="page-boxed page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo page-sidebar-fixed page-sidebar-closed-hide-logo">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner container">
            {% include layout/logo.html %}
            {% include layout/page-top.html %}
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="container">
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu page-sidebar-menu-compact " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        {% include layout/sidebar-navigation.html %}
                    </ul>
                </div>
            </div>

            <div class="page-content-wrapper">
                <div class="page-content">
                    {% if page.title %}
                    <h3 class="page-title">
                        {{ page.title }} <small>{{ page.subtitle }}</small>
                    </h3>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-12">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include layout/footer.html %}
    </div>

    {% include layout/scripts.html %}

    {% include layout/widgets.html %}
</body>

{% include layout/bottom.html %}