{% include default %}
{% include layout/top.html %}
<head>
    {% include layout/head.html %}

    <link href="{{ ASSETDIR }}/admin/pages/css/blog.css" rel="stylesheet" type="text/css"/>

</head>


<body class="page-boxed page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo page-sidebar-fixed page-sidebar-closed-hide-logo">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner container">
            {% include layout/logo.html %}
            {% include layout/page-top.html %}
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="container">
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu page-sidebar-menu-compact " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        {% include layout/sidebar-navigation.html %}
                    </ul>
                </div>
            </div>

            <div class="page-content-wrapper">
                <div class="page-content">

                    {% if page.title %}
                    <h3 class="page-title">
                        {{ page.title }} <small>{{ page.subtitle }}</small>
                    </h3>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light">
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12 blog-page">
                                            <div class="row">
                                                <div class="col-md-12 article-block">





                                                    <div class="row">
                                                        <div class="col-md-4 blog-img blog-tag-data">
                                                            <img src="{{ IMGDIR }}/{{ page.image }}" alt="" class="img-responsive">
                                                            <ul class="list-inline">
                                                                <li>
                                                                    <i class="fa fa-calendar"></i>
                                                                    <a href="#">
                                                                        {{ page.date | date: "%a, %-d %B" }} </a>
                                                                </li>
                                                                <!----<li>
                                                                    <i class="fa fa-comments"></i>
                                                                    <a href="#">
                                                                        38 Comments </a>
                                                                </li>-->
                                                            </ul>
                                                            <ul class="list-inline blog-tags">
                                                                <li>
                                                                    <i class="fa fa-tags"></i>
                                                                    {% for tag in page.tags %}<a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag">{{ tag }}</a>{% unless forloop.last %}{% endunless %}{% endfor %}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-8 blog-article">
                                                            <h3>
                                                                <a href="{{ site.url }}{{ page.url }}"> {{ page.title }} </a>
                                                            </h3>
                                                            <p>
                                                                {{ page.description }}
                                                            </p>
                                                            {% include social-share.html %}
                                                        </div>
                                                    </div>


                        <hr>






                                                    <!--end news-tag-data-->
                                                    <div class="blog-post-content">
                                                        {{ content }}
                                                    </div>
                                                    <hr>
                                                    <div>
                                                        {% include social-share.html %}
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                            {% if page.comments == true %}
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <section id="disqus_thread"></section>
                                </div>
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include layout/footer.html %}
    </div>

    {% include layout/scripts.html %}

    {% include layout/widgets.html %}
        {% include disqus_comments.html %}
</body>

{% include layout/bottom.html %}