{% include default %}
{% include layout/top.html %}
<head>
    {% include layout/head.html %}

</head>
<body class="page-boxed page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo page-sidebar-fixed page-sidebar-closed-hide-logo">
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner container">
        {% include layout/logo.html %}
        {% include layout/page-top.html %}
    </div>
</div>

<div class="clearfix"></div>
<div class="container">
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu page-sidebar-menu-compact " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    {% include layout/sidebar-navigation.html %}
                </ul>
            </div>
        </div>

        <div class="page-content-wrapper">


            <div class="page-content">

                <div class="row">
                    <div class="col-md-12">

                        <div class="portlet light bordered">
                            <div class="portlet-title tabbable-line">
                                <div class="caption">
                                    <i class="icon-pin font-blue-steel"></i>
                                    <span class="caption-subject bold font-blue-steel uppercase"> {{ page.title }} </span>
                                    <span class="caption-helper">{{ page.subtitle }}</span>
                                </div>
                                <div class="actions pull-left margin-left">

                                    <a href="#"  class="btn red-sunglo " data-github-editor="redirect"><i class="fa fa-plus"></i> Write new post </a>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#posts-all" data-toggle="tab" aria-expanded="true"> All posts </a>
                                    </li>
                                    <li class="">
                                        <a href="#posts-by-tag" data-toggle="tab" aria-expanded="false"> Filter by tag/category </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="posts-all">
                                            <div class="row">
                                                <div class="col-md-12 blog-page">
                                                    <div class="row">

                                                        <div class="col-md-12 article-block">

                                                            <!--<div class="scroller" style="height: 400px;">-->
                                                            {% for post in site.posts %}
                                                            <div class="row">
                                                                <div class="col-md-4 blog-img blog-tag-data">
                                                                    <img src="{{ IMGDIR }}/{{ post.image }}" alt="" class="img-responsive">
                                                                    <ul class="list-inline">
                                                                        <li>
                                                                            <i class="fa fa-calendar"></i>
                                                                            <a href="#">
                                                                                {{ post.date | date: "%a, %-d %B" }} </a>
                                                                        </li>
                                                                        <!----<li>
                                                                            <i class="fa fa-comments"></i>
                                                                            <a href="#">
                                                                                38 Comments </a>
                                                                        </li>-->
                                                                    </ul>
                                                                    <ul class="list-inline blog-tags">
                                                                        <li>
                                                                            <i class="fa fa-tags"></i>
                                                                            {% for tag in post.tags %}
                                                                            <a href="#">{{ tag }}</a>
                                                                            {% endfor %}
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-8 blog-article">
                                                                    <h3>
                                                                        <a href="{{ post.url }}"> {{ post.title }} </a>
                                                                    </h3>
                                                                    <p>
                                                                        {{ post.description }}
                                                                    </p>
                                                                    <a class="btn blue" href="{{ post.url }}">
                                                                        Read more <i class="m-icon-swapright m-icon-white"></i>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                            {% endfor %}
                                                            <!--<div class="scroller" style="height: 400px;">-->
                                                            <hr>

                                                            <ul class="pagination pull-right">
                                                                <li>
                                                                    <a href="#">
                                                                        <i class="fa fa-angle-left"></i>
                                                                    </a>
                                                                </li>
                                                                <li><a href="#">1</a></li>
                                                                <li><a href="#">2</a></li>
                                                                <li><a href="#">3</a></li>
                                                                <li><a href="#">4</a></li>
                                                                <li><a href="#">5</a></li>
                                                                <li><a href="#">6</a></li>
                                                                <li><a href="#">7</a></li>
                                                                <li>
                                                                    <a href="#">
                                                                        <i class="fa fa-angle-right"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                    </div>

                                    <div class="tab-pane" id="posts-by-tag">
                                        <button type="button" class="btn btn-xs blue-hoki pull-right posts-view-all"><i class="fa fa-reorder"></i> View all</button>

                                        <div class="blog-img blog-tag-data">
                                            <ul class="list-inline blog-tags">
                                                <li>
                                                    <span class="label label-primary"> Pick the desired tag </span>
                                                </li>
                                                {% for tag in site.tags %}
                                                <li>
                                                    <i class="fa fa-tags"></i>
                                                    <a href="#" class="posts-by-tag-picker" data-tags="{{ tag[0] }}">{{ tag[0] }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        <div class="blog-img blog-tag-data">
                                            <ul class="list-inline blog-tags">
                                                <li>
                                                    <span class="label label-primary"> Pick the desired category </span>
                                                </li>
                                                {% for cat in site.categories %}
                                                <li>
                                                    <i class="fa fa-tags"></i>
                                                    <a href="#" class="posts-by-category-picker" data-category="{{ cat[0] }}">{{ cat[0] | capitalize }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover posts-by-tag-table">
                                                <thead>
                                                <tr>
                                                    <th width="200">Post</th>
                                                    <th>Description</th>
                                                    <th>Date</th>
                                                    <th width="150">Tags</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for post in site.posts %}
                                                {% capture tagdata %}{% for tag in post.tags %}{{ tag }},{% endfor %}{% endcapture %}
                                                <tr data-tags="{{ tagdata }}" data-category="{{ post.category }}">
                                                    <td>
                                                        <a href="{{ post.url }}"> {{ post.title }} </a><br> <small><strong>Category:</strong> {{ post.category }}</small>
                                                    </td>
                                                    <td>
                                                        <small> {{ post.description }}</small>
                                                    </td>
                                                    <td>
                                                        {{ post.date | date: "%D" }}
                                                    </td>
                                                    <td>
                                                        <div class="blog-img blog-tag-data">
                                                            <ul class="list-inline blog-tags">
                                                                {% for tag in post.tags %}
                                                                <li>
                                                                    <i class="fa fa-tags"></i>
                                                                    <a href="#" class="posts-by-tag-picker" data-tag="{{ tag }}">{{ tag }}</a>
                                                                </li>
                                                                {% endfor %}

                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include layout/footer.html %}
</div>

{% include layout/scripts.html %}
{% include layout/widgets.html %}
{% include disqus_comments.html %}

</body>

{% include layout/bottom.html %}